
  .cookies  {

&_box    {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2.5rem;

   
    @include respond (smallerphone) { 
      top: 40%;
  
    }       

}

    &__icon {
        font-size: 4rem;
        color: white;
      position: absolute;
      top: 27%;
      left: 47%;
  
      @include respond (tab-land) { 
        left: 45%;
    
      }      

      @include respond (tab-port) { 
        top: 29%;
    
      }      
      @include respond (phone) { 
        font-size: 3.5rem;
        top:36%;
    
      }
   
    @include respond (smallerphone) { 
      top:18%;
      left: 44%;
  
    }
    }
}

   .cookie {
     
   @include respond (tab-port) {
     position: absolute;
    //top: 79%;
     left: 25%;
   }


    @include respond (phone) {   

     position: absolute;
     top: 79%;
     left: 23.1%;
   }

  
   @include respond (smallerphone) {   

    position: absolute;
    top: 84%;
    left: 15%;
  } 
  }
  

//.btnwhite-box {
//text-align: center;
