

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
// This defines what 1rem should be:
html {
    
  font-size: 93.75%;           //15px
  
    @include respond (tab-land) {
      font-size: 84.375%;
    }                         //13.5px
  
    @include respond (tab-port) {
     font-size: 81.25%;         
    }                         //13px
  
   // @include respond (smallerphone) {
    // font-size: 46.875%;
   // }                         //7.5px
  
   // @include respond (big-desktop) {
     // font-size: 75%;
  //  }                         //12px
  
  
  
  
      
  } 
