

body {
    font-family: "Lato" , sans-serif;
    line-height: 1.5;
    color: $color-grey-dark;
    font-weight: 300;
}


  .heading__primary {
    color: aliceblue;
    font-size: 6.5rem;
    text-align: center;
    margin-top: 13rem;
    font-weight:700 !important;

  //  @include respond (tab-land) {
    //    margin-top: 12rem;
    //  }           

    @include respond (tab-port) {
        font-size: 6rem;
      }            

      @include respond (phone) {
        font-size: 4rem;
      }    
   
      @include respond (smallerphone) {
        font-size: 3.5rem;
      }                    
}

  
.heading__primary1 {
    color: aliceblue;
    font-size: 3.5rem;
    text-align: center;
   // margin-top: 6rem;
    font-weight: 400 !important;

    @include respond (tab-port) {
        font-size: 2.5rem;
      }      
      @include respond (phone) {
        font-size: 2rem;
      }    
      @include respond (smallerphone) {
        font-size: 3rem;
        font-weight: 700 !important;
      }                       
}

  .heading__primary2 {
      color: #2d2b2b;
      font-size: 4rem;
      font-weight: 700 !important;
      letter-spacing: 1px;

      @include respond (phone) {
        font-size: 3rem;
      } 
      @include respond (smallerphone) {
        font-size: 3.8rem;
      }                                     
  }

  .heading__primary3 {
        color: aliceblue;
        font-size: 2rem;
        font-weight: 400 !important;
        letter-spacing: 1px;
       // position: absolute;
       // left: 50%;
        //top: 10%;

   
        @include respond (tab-port) {
          font-size: 1.8rem;
          }              
          
         @include respond (phone) {
          font-size: 2.2rem;
         }                  
    }
    .heading__paragraph {
            text-align: center;
            font-size: 2rem;
            color: azure;
            font-weight: 300 !important;
            margin-bottom: 1rem;

     
            @include respond (tab-land) {
              font-size: 1.8rem;
            }           
            @include respond (tab-port) {
                font-size: 1.8rem;
              }   
              
              @include respond (phone) {
                font-size: 1.4rem;
              }   
              @include respond (smallerphone) {
                font-size: 1.4rem;
              }                       
              
        }

        .heading__paragraph2 {
            text-align: center;
            font-size: 1.8rem;
            color: azure;
            font-weight: 300 !important;
            margin-bottom: 2rem;

    
            @include respond (tab-port) {
              font-size: 1.4rem;
              } 
              @include respond (phone) {
                font-size: 1.3rem;
                }                                    
        }
    
        .heading__paragraph3 {
            text-align: center;
            font-size: 1.4rem;
            color: black;
            font-weight: 300 !important;
            margin-bottom: 1rem;

    
            @include respond (tab-port) {
                font-size: 1.1rem;
              }                    
        }   

        .question__paragraph {
            display: block;
            margin: 0 auto;
            text-align: center;

            
        }

        .question__span {
            color: white;
            font-size: 1.4rem;
            margin-right : 4rem;
            display: inline-block;
            font-weight: 700;

          //  &-black {
          //      color: black;
          //  }

            
        }
            
   .smaller_phone {
     
    @include respond (smallerphone) {
      display: block;
      text-align: center;
    }                  

   }

   .smaller_phone1 {
     
    @include respond (smallerphone) {
      display: block;
      text-align: center;
      margin-top: -1.5rem;
    }                  

   }